<div class="container">

  <div class="col-md-8">

    <ul class="hidden-dots">
        <li>From: {{sender}}</li>
        <li>To: {{recipient}}</li>
        <li><h6>{{subjectLine}}</h6></li>
      <hr>
        <li><p>{{body}}</p></li>
      <hr>
        <li><h6>{{#link-to "emails"}}Back{{/link-to}}</h6>
          {{outlet}} </li>
    </ul>
  </div>

  <div class="col-xs-4">
    <img src="img/Kam-mail.jpg">
  </div>
</div>
